
html, body {
  margin: 0;
  padding: 0;

  font-family: 'Avenir', 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
  background-image: url(../images/Asset1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 9.4em;
  width: 100%;
  display: flex;
}


nav{
  position: sticky;
  z-index: 99;
}

    ul{
        display: flex;
        justify-content: space-evenly;    
        position: fixed;
        bottom: 0em;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        width: 100%;
        height: 8em;
      }

      ul li a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        color: black;
        background-color: white;
        text-decoration: none;
        font-size: 2em;
      }

      ul li a:hover {
        background-color: #e30613;
        transition: all .5s ease-in-out;
      }

      img {
        width: 2.3em;
        height: auto;
      }
  h1{
    font-size: 4.5em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    width: 4em;
    font-family: 'SourceSansPro-SemiBold',  'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2{
    margin: 0;
    padding: 0 16px;
    color: #e30613;
    font-size: 2.9em;
    font-family: 'SourceSansPro-SemiBold',  'Open Sans', 'Helvetica Neue', sans-serif;
  }

section {
  position: relative;
  min-height: 15.6em;
}

p{
  font-size: 1.3em;
  padding: 0 20px;
}


.restaurants a,
.coffee-places a,
.lunchrooms a {
  margin-top: -3em;
  background-image: url(../images/Asset4.png);
  background-size: cover;
  height: 10em;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.restaurants a p,
.coffee-places a p,
.lunchrooms a p {
  text-align: right;
  color: black;
  padding: 0;
  margin: 0.7em 0;
  font-size: 2em;
  
}

.mapsterdamn{
 width: 3em;
 height: auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
 margin-bottom: 6em;
}

.arrow{
  width: 2em;
  height: 2em;
  z-index: 3em;
  margin: 1.1em;
  margin-bottom: 1.8em;
}


/* LUNCHROOMS PAGINA */


.isgalogo{
  width: 4.5em;
  height: 4.5em;
  position: relative;
  float: right;
}

.goback{
  z-index: 99;
  width: 4em;
  height: auto;
  position: absolute;
  top: 2.6em;
  left: 1em;
}

.starbucks h2{
  padding-right: 4em;
  font-size: 3em;
}
img.starbuckslogo{
  float: left;
  width: 14em;
  height: auto;
  margin-left: 2em;
  border: solid black 1px;
  margin-right: 0.5em;
  margin-bottom: 3em;
}

.starbucks p{
  padding-left: 3.1em;
  padding-right: 1.2em;
  margin-bottom: 1.2em;
}

.favorieten{
  position: absolute;
  right: 3.5em;
  top: 0.5em;
  width: 4em;
  height: auto;
}

.favorieten:hover{
  fill: orange;
  padding: 0;
  transform: skew(-10deg);
}

.lunchroompagina p{
  margin-top: -0.4em;
}

.search-bar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 24em;
  margin-bottom: 2em;
  margin-top: 1.2em;
}

input{
  height: auto;
  border: none;
}

#zoekknop{
  width: 5em;
  height: 5em;
  border: none;
  margin-right: 1em;
}

.geld{
  color: green;
}

#naamlunchroom{
  font-size: 1.5em;
  width: 20em;
  height: 3em;
  padding: 0.4em;
  border: solid black 1px;
}

::placeholder{
  font-size: 1.2em;
}

hr{
  width: 100%;
  height: 0.1em;
  background-color: black;
  margin-bottom: 1.2em;
}

.starbucks hr,
.bagelsenbeans hr,
.stach hr{
  width: 85%;
  height: 0.1em;
}

.bagelsenbeans p,
.stach p,
.vandobben p{
  padding-left: 2.5em;
}

.bagelsenbeans h2,
.stach h2,
.vandobben h2{
  padding-left: 1.2em;
}


.bagelsenbeans h2{
  margin-bottom: 0.2em;
}

.vandobben h2{
  margin-top: 1em;
}
.vandobben{
  margin-bottom: 8em;
  margin-top: 2em;
}

.bagelsenbeans u,
.stach u,
.starbucks u,
.vandobben u{
  color: green;
}

.vandobben a,
.starbucks a,
.stach a,
.bagelsenbeans a{
  color: #e30613;
}

.vandobben a,
.starbucks a,
.stach a,
.bagelsenbeans a:visited{
  color: #e30613;
}

.bagelsenbeans i,
.stach i,
.vandobben i{
  margin-left: 0.3em;
}

section.stach{
  margin-bottom: -2.5em;
}

img.stachlogo {
  float: left;
  width: 20em;
  margin-left: 2em;
  margin-top: 1em;
}

img.vandobbenlogo{
  float: left;
  width: 20em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0.5em;
  margin-right: -1.2em;
}

section.starbucks{
  margin-bottom: -0.4em;
}

section.bagelsenbeans{
  margin-bottom: -1em;
}

/* Starbucks Detail Pagina */

.starbucksdetail h2{
  font-size: 5em;
}

i{
  font-size: 1.2em;
  margin-right: 2em;
}

.starbucksdetail a:visited{
  color: #e30613;
}


#streep{
  width: 85%;
  height: 0.1em;
  margin-bottom: 1em;
}

img.locatie{
  width: 3.3em;
  height: auto;
  position: relative;
  top: -2.7em;
  right: -5em;
}

.starbucksdetail i{
  font-size: 2em;
}

.locatiebar a{
  color: #e30613;
}

.locatiebar a:visited{
  color: #e30613;
}

.locatiebar p{
  padding-left: 150px;
  font-size: 1cm;
  margin-bottom: -20px;
  color: #e30613;
}

.mooiester{
  position: absolute;
  width: 4em;
  height: auto;
  top: -0.4em;
  right: 8em;
}

.mooiester:hover{
  fill: orange;
  padding: 0;
  transform: skew(-10deg);
}

img.anzichtkaart {
 width: 3em;
 height: auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
}

section.filter{
  width: 26em;
  border: 1px solid black;
  margin-left: 10.6em;
  background: #e30613;
  margin-bottom: 3em;
}

section.filter h2{
  padding-left: 3em;
  color: black;
  font-size: 3em;
}

section.filter hr{
  height: 0.1em;
  background-color: white;
  color: white;
}

section.filter p{
  margin-top: 0.6em;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0;
}

.slidecontainer {
  width: 100%;
  margin-left: 3.8em;
}

.slider{
  -webkit-appearance:none;
  width: 70%;
  border-radius: 0.5em;
  opacity: 0.7;
  transition: opacity 1s;
}

.slider:hover{
  opacity: 1;
  background-color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1em;
  background-color: black;
  cursor: pointer;
  border-radius: 0.8em;
}

.rating{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  direction: rtl;
}

.rating > span{
  width: 1.2em;
}

.starbucksdetail i{
  margin-left: -0.5em;
}

.starbucksdetail p{
  color: green;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: orange;
}

.price{
  display: flex;
  justify-content: center;
  font-size: 2em;
  direction: rtl;
}

.price > span{
  width: 1.2em;
}

.price > span:hover:before,
.price > span:hover ~ span:before {
   content: "\0024";
   position: absolute;
   color: green
}

/* favorieten pagina */

h3{
  font-size: 2.5em;
  color: #e30613;
  margin-bottom: -1.2em;
}

img.kroket{
  width: 12em;
  height: auto;
  float: left;
  margin-right: 1em;
  margin-bottom: 5em;
}
  
.starfavoriet{
  position: relative;
  float: right;
  right: 2.5em;
  top: 0.4em;
  width: 2.5em;
  height: auto;
  color: orange;
}

.starfavoriet:hover{
  fill: orange;
  padding: 0;
  transform: skew(-10deg);
}

section.vandobbenfavo{
  margin-top: 5em;
}

img.locatiefavo{
  margin-left: 4.5em;
  margin-top: -1em;
}

img.locatiefavo1{
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom: -0.5em
}

.vandobbenfavo a,
.starbucks1 a{
  color: #e30613;
}

h4{
  margin-left: 12em;
  margin-bottom: -2em;
  color: #e30613;
}

.starbucks1{
  margin-bottom: 30em;
}

.vandobbenfavo u,
.starbucks u{
  color: green;
}

.starbucks span,
.vandobbenfavo span{
  color: green;
}